@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #113264;
	--text: #edeef0;
	--text-muted: #d9d9e0;
	--text-accent: #acd8fc;
	--secondary: #008cff0b;
}

.dark {
	--primary: #113264;
	--text: #edeef0;
	--text-muted: #d9d9e0;
	--text-accent: #acd8fc;
	--secondary: rgba(17, 103, 251, 0.048);
}


.radix-themes {
	--cursor-button: pointer;
	--cursor-checkbox: pointer;
	--cursor-disabled: default;
	--cursor-link: pointer;
	--cursor-menu-item: pointer;
	--cursor-radio: pointer;
	--cursor-slider-thumb: grab;
	--cursor-slider-thumb-active: grabbing;
	--cursor-switch: pointer;
}